.m{
    width: 40%;
}

.navbar{
   
    background-color: rgb(199, 218, 147);
    .container-fluid{
        .m{
                img{
                    height: 100px;
                    width: 100px;
                }
        }
    .collapse{
        ul{
            li{
                Link{
                    color: white;
                    display: block;
                }
                .dropdown{
                    .dropbtn{
                        font-size: 16px;  
                        border: none;
                        outline: none;
                        padding: 10px 16px;
                        background-color: inherit;
                        font-family: inherit;
                        margin: 0;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        a {
                            float: none;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            text-align: left;
                          }
                          a:hover {
                            background-color: #ddd;
                          }
                        
                      }
                    
                }
                .dropdown:hover{
                    .dropdown-content {
                        display: block;
                      }

                }
            }
        }
    }
}
}