.c2{
    width: 310px;
    height: auto;
    img{
        padding-top: 5px;
        width: 300px;
        height: 200px;
    }
    .card-body{
        .btn{
            margin-left: 85px;
            align-items: center;
            background-color: rgba(211, 210, 201, 0.897);
           
        }
    }
}