.signup{
    position: absolute;
    height: 100vh;
    left: 30%;
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 30%;
    form{
        position: relative;
        .form-inner{
            position: relative;
            display: block;
            background-color: white;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 15px;
            padding-bottom:15px ;
            z-index: 2;
            .term{
                // position: absolute;
                width: 100%;
                display:inline-block;
               
            }
            h2{
                color: #888;
                font-size: 28px;
                font-weight: 500;
                margin-bottom: 30px;
            }
            
            .form-group{
                display: block;
                width: 300px;
                margin-bottom: 10px;
                label{
                    display: block;
                    font-size: 12px;
                    margin-bottom: 5px;
                    transition: 0.4s;
                }
                input{
                    display: block;
                    width: 100%;
                    padding: 5px 10px;
                    border-radius: 8px;
                    transition: 0.4s;
                }
                input : focus{
                    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
                }
                .strong{
                    font-size: 10px;
                }
            }
            .forgot{
                display: block;
                width: 100%;
                padding-bottom: 15px;
               
            }
            input[type = "submit"]{
                margin-top: 5px;
                display: block;
                width: 100%;
                padding: 10px 15px;
                background-size: 200%;
                border-radius: 3px;
            }
            .create{
                padding-top: 25px;
            }
        }
       
    }
    form:after{
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        bottom: -5px;
        right: -5px;
        left: -5px;
        z-index: 1;
        background-image: linear-gradient(to bottom right,blue,white);
    }
    

}